$dark-blue: #0D345A;

.cart__book {
    display: flex;
    padding: 2em 0;
    a {
        display: flex;
        text-decoration: none;
        color: $dark-blue;
    }
    
    img {                                                      
        max-width: 100px;
        border: 1px solid #D6DAE1;
    }                                                                                        
                   
    .book__left-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.1rem;
        padding-left: 1em;
        min-width: 100px;

        a {
            display: flex;
            flex-direction: column;
        }

        .book__quantity-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 28px;
            border: 1px solid $dark-blue;
            
            input {
                text-align: center;
                width: 38px;
                height: 16px;
                border: none;
            }
            
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

        }         
    }                                                                         

    .book__right-wrapper {
        display: flex;
        margin-left: auto;

        .book__total-price {
            font-size: 1.3rem;
            padding: 0 1.5em;
        }

        .book__remove-icon {
            margin-top: 0.2em;
            width: 30px;
            cursor: pointer;;
        }
    }
}