.store__title {
    margin-top: 3em;
}

.store__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    margin-top: 3em;

    .store__col1 {
        width: 20%;
        max-width: 200px;
        padding: 0.5em 2em 0 2em;
    }

    .store__col2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;
    }
}