$white: #FFFFFF;
$dark-blue: #0D345A;

.book-details {
    font-family: "futura-pt", sans-serif;
    max-width: 890px;
    margin: 5em auto;
    padding: 0 3em 0 3em;

    &__breadcrumbs {
        margin-bottom: 3em;
        color: #7C8DA1;
        a {
            text-decoration: none;
            color: $dark-blue;
        }
    }

    &__wrapper {
        display: flex;
        gap: 2.5em;

        .book-details__col1 {
            display: flex;
            flex-direction: column;
            gap: 3em;
            max-width: 500px;
        }

        .book-details__col2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 355px;
            max-height: 500px;
        }
    }
}

.book-details__col2 {
    .book-details__top {
        display: flex;
        flex-direction: column;

        .book-details__title{
            font-size: 2rem;
        }
                
        .book-details__price {
            font-size: 1.8rem;
            margin-top: 0.6em;
        }

        .book-details__author {
            font-size: 1.2rem;
            margin-top: 0.8em;
        }

        .book-details__published {
            margin-top: 2em;
        }
    }

    .book-details__bottom {
        display: flex;
        flex-direction: column;

        .book-details__quantity {
            display: flex;
            flex-direction: column;
            gap: 0.4em;
            margin-top: 2em;
            width: 60px;
            
            input {
                font-size: 1rem;
                padding-left: 10px;
                height: 30px;
            }
        }
    
        .book-details__add-btn,
        .book-details__buy-btn {
            font-size: 1.1rem;
            padding: 0.5em;
            color: $white;
            transition: all 200ms ease-in-out;
            border-style: none;
            cursor: pointer;
        }
    
        a .book-details__buy-btn {
            width: 100%;
        }
    
        .book-details__add-btn {
            background-color: $dark-blue;
            margin-top: 1.5em;
    
            &:hover {
                background-color: #647790;
            }
        }
    
        .book-details__buy-btn {
            margin-top: 0.8em;
            background-color: #414141;
            &:hover {
                background-color: #7F7F7F;
            }
        }
    }
}

@media (max-width: 675px) {
    .book-details__wrapper {
        flex-direction: column;
        align-items: center;
        
        .book-details__col2 {
            width: 100%;
            max-width: 500px;
        }
    }
}