.store__filter {
    display: flex;
    flex-direction: column;
    max-width: 200px;

    .store__filter-title {
        font-size: 1.5rem;
        margin-bottom: 0.3em;
    }

    .store__filter-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        min-width: 150px;
        padding: 0.8em ;
        margin-bottom: 0.5em;
        border: none;
        background-color: #F2F2F2;
        cursor: pointer;
    }

    .store__filter-shown-div {
        display: flex;
        width: 100%;
        gap: 0.3em;
        margin-bottom: 0.7em;
    }

    .store__filter-price-range {
        display: flex;
        gap: 0.5em;
        align-items: center;
        max-width: 100%;
        input {
            width: 50px;
        }
    }

    .store__filter-search {
        display: flex;
        input {
            width: 100%;
        }
    }

    input {
        font-size: 1rem;
        padding: 0.2rem;
    }
}