$white: #FFFFFF;
$dark-blue: #0D345A;
$light-blue: #A9BFD6;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 3em;
    color: white;
    background: $dark-blue;
	font-family: "futura-pt", sans-serif;

    &__column-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 700px;

        .column {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .links p {
            cursor: pointer;
        }
    }

    &__author {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 3em;
        gap: 0.7em;

        a {
            color: $white;
            text-decoration: none;
            transition: all 200ms ease-in-out;

            &:hover {
                color: $light-blue;
            }
        }
    }
}

@media (max-width: 675px) {
    .footer {
        font-size: 0.9rem;
        padding: 2em 1.5em;
    }
    
    .footer__column-wrapper {
        min-width: 330px;
    }
}