$white: #FFFFFF;
$dark-blue: #0D345A;
$light-blue: #A9BFD6;

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.2em;
	
	.header__title {
		font-size: 1.2rem;
		border: 0.2em solid $dark-blue;
		padding: 0.2em 0.5em 0.2em 0em;
		
		.title-left {
			color: $white;
			background-color: $dark-blue;
			padding: 0.3em 0.5em;
		}
		.title-right {
			background: $white;
			font-weight: 400;
			padding-left: 0.5em;
		}
	}

	.header__menu {
		display: flex;
		align-items: center;
		margin-left: 0.5em;
		font-size: 1.2rem;

		.navigation ul {
			display: flex;
			gap: 1em;
		}

		.header__cart-wrapper {
			display: flex;
			margin-left: 1em;
			cursor: pointer;
			
			.cart-badge {
				display: flex;
				align-items: center;
				padding-left: 0.3em;
			}
		}	
	}

	a {
		text-decoration: none;
		color: $dark-blue;
	}
}
