$white: #FFFFFF;
$dark-blue: #0D345A;

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
	// align-items: center;
  font-size: 16px;
	color: $dark-blue;
	background: $white;
  box-sizing: border-box;
}

header,
body {
		width: 92%;
		max-width: 1800px;
		margin: 0 auto;
}

img {
	max-width: 100%;
	display: block;
}

/* HEADER */
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.3em 0em;

	.header__title {
		font-size: 1.6rem;
		border: 0.2em solid $dark-blue;
		padding: 0.3em 0.3em 0.3em 0em;

			.title-left {
				color: $white;
				background-color: $dark-blue;
				padding: 0.3em 0.5em;
			}
			.title-right {
				background: $white;
				font-weight: 400;
				padding-left: 0.3em;
			}
	}

	.header__right {
		display: flex;
		align-items: center;
		margin-left: 0.5em;
		font-size: 1.4rem;

		.header__cart-wrapper {
			display: flex;
			margin-left: 1em;
			cursor: pointer;

			img {
				min-width: 30px;
				max-width: 30px;
			}
			
			.header__cart-badge {
				display: flex;
				align-items: center;
				padding-left: 0.3em;
			}
		}	
	}
}

nav ul {
	list-style: none;
	cursor: pointer;
}

nav a {
	color: $dark-blue;
	text-decoration: none;
	padding: 0.2em;

	&:focus {
		border-bottom: 0.15em solid $dark-blue;
	}

	&:hover {
		transition: all 200ms ease-in-out;
		color: #4f88c0;
	}
}

.navigation ul {
	display: flex;
	gap: 1em;
}

.mobile-navigation {
	display: none;
}



/* MEDIA QUERY */
@media (max-width: 675px) {
	.navigation {
		display: none;
	}

	.mobile-navigation {
		display: flex;
		flex-direction: row-reverse;

		ul {
			display: flex;
			flex-direction: column;
			position: absolute;
			align-items: center;
			width: 100%;
			gap: 1em;
			top: 3.5em;
			right: 0;
			padding: 1em 0;
			background: rgb(215, 215, 215, 0.95);
		}
	}
}