$white: #FFFFFF;
$dark-blue: #0D345A;
$light-blue: #A9BFD6;

* {
  margin: 0;
  padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 16px;
	color: $dark-blue;
	background: $white;
 	box-sizing: border-box;
	box-shadow: -2px 11px 15px -12px rgba(0,0,0,0.65) inset;
}

header,
main {
	width: 95%;
	margin: 0 auto;
}

h1, h2 {
	font-family: georgia, serif;
}

img {
	max-width: 100%;
	display: block;
}

button {
	font-family: "futura-pt", sans-serif;
}

nav {
	ul {
		list-style: none;
		cursor: pointer;
 }
	
	a {
		color: $dark-blue;
		text-decoration: none;
		padding: 0.2em;
		
		&:focus {
			color: $light-blue;
		}
		
		&:hover {
			transition: all 200ms ease-in-out;
			color: $light-blue;
		}
	}
}


/* BOOK COMPOMENT */
.book-wrapper {
	display: flex;
	flex-direction: column;
	font-family: "futura-pt", sans-serif;
	text-align: center;
	padding: 0.5em;
	
	.book-title {
		margin-top: 0.8em;
		margin-bottom: 0.2em;
		cursor: pointer;
	}

	.book-price,
	img {
		cursor: pointer;
	}

	.book-btn {
		font-family: "futura-pt", sans-serif;
		width: 100%;
		margin-top: 0.8em;
		padding: 0.5em;
		border: none;
		background-color: $dark-blue;
		color: $dark-blue;
		color: $white;
		border: 3px solid $white;
		opacity: 0%;
		transition: all 250ms ease-in-out;
		cursor: pointer;
		&:hover {
			color: $light-blue;
		}
	}
	
	&:hover {
		button {
			opacity: 100%;
		}
	}
	
}

/* HEADER */
.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2.2em;
	
	.header__title {
		font-size: 1.2rem;
		border: 0.2em solid $dark-blue;
		padding: 0.2em 0.5em 0.2em 0em;
		
		.title-left {
			color: $white;
			background-color: $dark-blue;
			padding: 0.3em 0.5em;
		}
		.title-right {
			background: $white;
			font-weight: 400;
			padding-left: 0.5em;
		}
	}

	.header__menu {
		display: flex;
		align-items: center;
		margin-left: 0.5em;
		font-size: 1.2rem;

		.navigation ul {
			display: flex;
			gap: 1em;
		}

		.header__cart-wrapper {
			display: flex;
			margin-left: 1em;
			cursor: pointer;
			
			.cart-badge {
				display: flex;
				align-items: center;
				padding-left: 0.3em;
			}
		}	
	}
}

.mobile-navigation {
	display: none;
}		


/* MAIN */
main {
	margin-top: 2em;
}

/* HOME PAGE */
.home__img-wrapper {
	position: relative;
	font-size: 4rem;

	
	.wrapper {
		display: flex;
		align-items: center;
		
		.sofa-img {
			background-color: yellow;
			height: 524px;
			object-fit: cover;
		}

		.text-overlay {
			display: flex;
			position: absolute;
			padding-left: 0.7em;
		}
	}
}

.home__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
	gap: 0.3em;

	span {
		font-size: 1.5rem;
		font-family: "futura-pt", sans-serif;
	}

	h2 {
		font-size: 2.8rem;
	}
}

.home__gallery {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: $dark-blue;
	color: $white;
	margin-top: 8em;

	ul {
		display: flex;
		list-style: none;
	}
	
	.gallery-bestsellers-wrapper{
		display: flex;
		margin-bottom: 8em;
		position: relative;
		margin-bottom: 14%;

		.gallery-bestsellers {
			width: 85%;
			position: absolute;
			top: -5.6em;
			left: 7.5%;
		}
	}
}

.gallery-recommended {
	width: 85%;
	margin: 0 auto;
	margin-top: 3em;
}

.gallery-last-part {
	display: flex;
	flex-direction: column;

	h2 {
		font-size: 4.6rem;
		text-align: center;
	}

	button {
		margin-top: 3em;
		margin-bottom: 3.5em;
		padding: 0.8em 2em;
		border: 3px solid $white;
		background-color: $dark-blue;
		transition: all 250ms ease-in-out;

		a {
			color: $white;
			text-decoration: none;
			font-size: 1.1rem;
		}
	}

	button:hover {
		background-color: $white;
		a {
			color: $dark-blue;
		}
	}
}

.book-launch {
	margin-top: 3em;
	margin-bottom: 3em;
}

.book-launch-wrapper {
	display: flex;
	justify-content: center;
	gap: 5em;
	margin-bottom: 5em;

	.book-launch-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3em;
	}

	.book-launch-img {
		border: 15px solid $dark-blue;
	}
}

/* MEDIA QUERY */
@media (max-width: 675px) {
	html {
		box-shadow: none;
	}

	main {
		width: 100%;
	}

	.navigation {
		display: none;
	}

	.mobile-navigation {
		display: flex;
		flex-direction: row-reverse;

		.hamburger-menu-icon,
		.close-menu-icon {
			margin-left: 1em;
		}

		ul {
			display: flex;
			flex-direction: column;
			position: absolute;
			align-items: center;
			width: 100%;
			gap: 1em;
			top: 3.5em;
			right: 0;
			padding: 1em 0;
			background: rgb(215, 215, 215);
		}
	}


	/* HOME */
	.home__img-wrapper{
		font-size: 1.6rem;

		.sofa-img{
			height: 350px;
			object-fit: cover;
		}
	}

	.home__bestsellers-title-wrapper {
		margin-top: 3em;

		h2 {
			font-size: 2.5rem;
		}
	}

}