$white: #FFFFFF;
$dark-blue: #0D345A;

* {
  margin: 0;
  padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: 16px;
	color: $dark-blue;
	background: $white;
 	box-sizing: border-box;
	box-shadow: -2px 11px 15px -12px rgba(0,0,0,0.65) inset;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header,
main {
	width: 95%;
	margin: 0 auto;
}

h1, h2 {
	font-family: georgia, serif;
}

img {
	max-width: 100%;
	display: block;
}

button {
	font-family: "futura-pt", sans-serif;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
	gap: 0.3em;

	span {
		font-size: 1.5rem;
		font-family: "futura-pt", sans-serif;
	}

	h2 {
		font-size: 2.8rem;
	}
}

/* MEDIA QUERY */
@media (max-width: 675px) {
	html {
		box-shadow: none;
		width: 100%;
	}

	main {
		width: 100%;
	}
}