$white: #FFFFFF;
$dark-blue: #0D345A;
$light-blue: #A9BFD6;

.mobile-navigation {
    display: none;
}	

/* MEDIA QUERRY */
@media (max-width: 675px) { 
    .mobile-navigation {
        display: flex;

        .mobile-navigation__menu-icon,
        .mobile-navigation__close-menu-icon {
            margin-left: 1em;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            position: absolute;
            align-items: center;
            list-style: none;
            font-size: 1.6rem;
            width: 100%;
            height: 100%;
            top: 4em;
            right: 0;
            padding: 1em 0;
            background: $white;
            z-index: 1;
            a {
                transition: all 200ms ease-in-out;
                &:focus {
                    color: $light-blue;
                }
                
                &:hover {
                    color: $light-blue;
                }

            }
        }
    }
}